@font-face {
  font-family: "ABCFavorit";
  src: url("/assets/font/otf/ABCFavorit-Light-Trial.otf") format("otf"),
    url("/assets/font/woff/ABCFavorit-Light-Trial.woff") format("woff"),
    url("/assets/font/woff2/ABCFavorit-Light-Trial.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "ABCFavorit";
  src: url("/assets/font/otf/ABCFavorit-Book-Trial.otf") format("otf"),
    url("/assets/font/woff/ABCFavorit-Book-Trial.woff") format("woff"),
    url("/assets/font/woff2/ABCFavorit-Book-Trial.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ABCFavorit";
  src: url("/assets/font/otf/ABCFavorit-Regular-Trial.otf") format("otf"),
    url("/assets/font/woff/ABCFavorit-Regular-Trial.woff") format("woff"),
    url("/assets/font/woff2/ABCFavorit-Regular-Trial.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "ABCFavorit";
  src: url("/assets/font/otf/ABCFavorit-Medium-Trial.otf") format("otf"),
    url("/assets/font/woff/ABCFavorit-Medium-Trial.woff") format("woff"),
    url("/assets/font/woff2/ABCFavorit-Medium-Trial.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "ABCFavorit";
  src: url("/assets/font/otf/ABCFavorit-Bold-Trial.otf") format("otf"),
    url("/assets/font/woff/ABCFavorit-Bold-Trial.woff") format("woff"),
    url("/assets/font/woff2/ABCFavorit-Bold-Trial.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
:root {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "ABCFavorit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.box {
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
html,
body {
  background-color: #000;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}
p {
  font-size: 1.75rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 2rem;
}
h1 {
  font-size: 7.5rem;
  font-weight: 600;
}
h1 span {
  text-decoration: underline;
}
h2 {
  font-size: 3.5rem;
  font-weight: 400;
}
.quiz-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.quiz-top {
  width: 100%;
  padding: 0 2rem;
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.quiz-prog {
  width: 100%;
  border: 2px solid #fff;
  margin: 0.5rem 0 0 0;
  border-radius: 1000px;
  height: 15px;
  position: relative;
}
.quiz-prog-inner {
  width: 25%;
  height: 12px;
  background-color: #fff;
  border-radius: 1000px;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}
.quiz-bottom-1 h5 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #000;
}
.quiz-step-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.quiz-step-1-content {
  width: 100%;
  padding: 2rem 2rem 6rem 2rem;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}
.quiz-step-1 h2 {
  margin: 2.5rem 0;
}
h1 {
  line-height: 8rem;
}
.quiz-step-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.quiz-step-2-content {
  padding: 2rem 0 6rem 0;
  width: 100%;
  background-color: #000;
}
.quiz-step-2-content > h5 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: 400;
  padding: 0 2rem;
}
.app table {
  border-collapse: collapse;
  width: 100%;
  margin: 3.5rem 1px 0 0;
}
.app table,
.app td {
  border: 1px solid;
}
.app td {
  padding: 3rem 3rem;
  width: max-content;
}
.app td p {
  font-size: 2.5rem;
  font-weight: 400;
}
.app table,
.app td:first-child {
  border-left: 0;
}
.app table,
.app td:last-child {
  border-right: 0;
}
.arrow-box {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.arrow-box:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.arrow-box span {
  font-size: 3rem;
}
.app td:nth-child(1),
.app td:nth-child(3),
.app td:nth-child(4) {
  width: max-content;
}
.app td:nth-child(2) {
  width: 100%;
}
.quiz-step-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.quiz-step-3-content {
  background-color: #000;
  width: 100%;
  padding: 8.5rem 2rem 6rem 2rem;
  max-width: 850px;
  margin: 0 auto;
}
.quiz-step-3 h1 {
  margin: 0 0 5rem 0;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 3rem;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding: 0.5rem 0;
  font-weight: 300;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.quiz-step-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.quiz-step-4-content {
  max-width: 850px;
  padding: 2rem 2rem 6rem 2rem;
  margin: 0 auto;
  width: 100%;
  background-color: #000;
}
.input-grid-box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2.5rem;
}
.quiz-step-4-content > h6 {
  font-weight: 400;
  margin: 2.5rem 0;
}
.checkbox-con {
  width: 100%;
  margin: 5rem 0 2.5rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox-con input {
  margin: 0 1rem 0 0;
}
.checkbox-con input {
  display: none;
}
.checkbox-con label {
  width: 2rem;
  height: 2rem;
  background-color: #000;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  margin: 0 2.5rem 0 0;
  justify-content: center;
  cursor: pointer;
}
.checkbox-con label span {
  color: #000;
  font-size: 2rem;
}
.checkbox-con input:checked + label {
  background-color: #fff;
}
.review-p {
  padding: 0 0 0 4.5rem;
}
.quiz-bottom {
  width: 100%;
  height: 6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.quiz-bottom-1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.quiz-bottom-2,
.quiz-bottom-3,
.quiz-bottom-4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz-bottom-2 .back-btn,
.quiz-bottom-3 .back-btn,
.quiz-bottom-4 .back-btn {
  width: 50%;
  height: 100%;
  background-color: #000;
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}
.quiz-bottom-2 .next-btn,
.quiz-bottom-3 .next-btn,
.quiz-bottom-4 .next-btn {
  width: 50%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}
.quiz-step-1,
.quiz-step-2,
.quiz-step-3,
.quiz-step-4 {
  position: absolute;
  top: 8.5rem;
  left: 0%;
  background-color: #000;
}
.quiz-step-1,
.quiz-step-2,
.quiz-step-3,
.quiz-step-4 {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 14.5rem);
}
.quiz-step-2,
.quiz-step-3,
.quiz-step-4 {
  /* opacity: 0; */
}
.quiz-bottom-2,
.quiz-bottom-3,
.quiz-bottom-4 {
  display: none;
}
.quiz-step-1 {
  z-index: 5;
}
.quiz-step-2 {
  z-index: 4;
}
.quiz-step-3 {
  z-index: 3;
}
.quiz-step-4 {
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .input-grid-box {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 6.5rem;
  }
  .app td {
    padding: 2rem 2rem;
  }
  .app td p {
    font-size: 2rem;
  }
  .arrow-box {
    width: 4rem;
    height: 4rem;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    line-height: 5rem;
    font-size: 4.5rem;
  }
  h1 br {
    display: none;
  }
  h2 {
    font-size: 2.75rem;
  }
  .app td {
    padding: 3rem 1.75rem;
  }
  .app td p {
    font-size: 1.75rem;
  }
  .arrow-box {
    width: 3rem;
    height: 3rem;
  }
  h5 {
    font-size: 2rem;
  }
  .arrow-box span {
    font-size: 2rem;
  }
  .quiz-step-4-content h1 br {
    display: none;
  }
  p,
  h6 {
    font-size: 1.5rem;
  }
  input[type="text"],
  input[type="email"] {
    font-size: 2.5rem;
  }
}
